body {
	background-color: black;
	background-image: url("../graphics/main_texture_black.jpg");
	background-repeat: repeat;
	font-family: 'Krona One', sans-serif;
	overflow: hidden;
}

.dark-mode {
	background-color: white;
	background-image: url("../graphics/main_texture.jpg");
	background-repeat: repeat;
	overflow: hidden;
}

.modal-header {
	color: #EE9043;
}

.btn {
	margin-right: 20px;
}

.add {
	width: 21%;
}

.remove {
	width: 21%;
}

.tab{
	tab-size: 10;
	font-family: 'Krona One', sans-serif;
}

.nav-style {
	font-size: 24px;
}

.inactive {
	color: white;
	padding: 10px;
	text-decoration: none;
}

.inactive:hover {
	color: #EE9043;
}

.access{
  position: absolute;
  padding: 0;
  border: none;
  background-color: transparent;	
  cursor: pointer;
  bottom: 30px;
  right: 20px;
}

.activepage {
	padding: 10px;
	text-decoration: none;
	color: #EE9043;
}

.activepage:hover {
	color: #EE9043;
}

section {
	height: 600px;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 100px;
	margin-top: 110px;
	padding: 50px;
	padding-top: 25px;
	border-radius: 5px;
	overflow: scroll;
	overflow-x: hidden;
	scrollbar-width: thin;
	scrollbar-color: #EE9043 grey;
}

section::-webkit-scrollbar {
  width: 15px;
}
