body {
	margin-left: -15px;
	margin-top: -50px;
	background-image: url("graphics/main_texture.jpg");
	background-repeat: repeat;
	overflow: hidden;
}

.topcircle {
	position: absolute;
	top: 0;
	left: -15px;
	max-width: 102%;
}

.menu {
	margin: auto;
	position: absolute;
	top: 0;
}
