body {
	margin-left: -15px;
	margin-top: -50px;
	background-image: url("graphics/main_texture.jpg");
	background-repeat: repeat;
	overflow: hidden;
}

.dark-mode {
	background-color: white;
	background-image: url("graphics/main_texture_black.jpg");
	background-repeat: repeat;
	overflow: hidden;
}

.topcircle {
	position: absolute;
	top: 0;
	left: -15px;
	max-width: 102%;
}

.menu {
	margin: auto;
	position: absolute;
	top: 0;
}

.fixed-bottom {
	left: 96%;
}

.access {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
