body {
	color: white;
	background-image: url("graphics/main_texture_black.jpg");
	background-repeat: repeat;
	overflow: hidden;
}

.dark-mode {
	background-image: url("graphics/main_texture.jpg");
	background-repeat: repeat;
	color: black;
}

.form-dark-mode {
	background-color: black !important;
}

.form-dark-mode::placeholder {
	color: white;
}

.signinform {
	margin-top: 7%;
	font-family: 'Krona One', sans-serif;
}

.fixed-bottom {
	left: 96%;
}

.row {
	width: 25vw;
	padding-bottom: 0;
}

.btn:hover {
	color: #EE9043;
	box-shadow: 2px 2px 5px black;
	transform: translate(-1px, -1px);
}

h5 {
	margin-bottom: 2px;
}

.form-control {
	margin-top: -2px;
	margin-bottom: 7px;
}

.access {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.hotbar {
	margin: auto;
	text-align: center;
	height: 35vh;
	width: 40vw;
}

.confirm {
	width: 50%;
	margin-top: 15px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}
