body {
	background-image: url("graphics/main_texture_black.jpg");
	background-repeat: repeat;
	overflow: hidden;
}

.dark-mode {
	background-color: white;
	color: black;
	background-image: url("../graphics/main_texture.jpg");
	background-repeat: repeat;
	overflow: hidden;
}

.signupform {
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	height: 35vh;
	top: 40%;
	color: white;
	font-family: 'Krona One', sans-serif;  
}

.access{
  position: absolute;
  padding: 0;
  border: none;
  background-color: transparent;	
  cursor: pointer;
  bottom: 30px;
  right: 20px;
}

.menu {
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	height: 35vh;
	top: 0%;
}

.confirm {
	width: 10%;
	height: 5%;
	position: absolute;
	top: 520px;
	left: 135px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}
