body {
	margin-left: -15px;
	margin-top: -50px;
	background-image: url("graphics/main_texture_black.png");
	background-repeat: repeat;
	overflow: hidden;
}

.signinform {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 41%;
	top: 40%;
	color: white;
	font-family: 'Krona One', sans-serif;                                                
}

.menu {
	position: fixed;
	left: 30%;
	top: 0%;
}

.confirm {
	width: 10%;
	height: 5%;
	position: absolute;
	top: 230px;
	left: 45px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}
